@font-face {
    font-family: "Architype Stedelijk";
    src: local("Architype Stedelijk"), url("/fonts/Architype Stedelijk/Web Fonts/as-font.woff2") format("woff2"), url("/fonts/Architype Stedelijk/Web Fonts/as-font.woff") format("woff"), url("/fonts/Architype Stedelijk/Web Fonts/as-font.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Architype Stedelijk";
    src: local("Architype Stedelijk Bold"), local("Architype Stedelijk"), url("/fonts/Architype Stedelijk/Web Fonts/as-font.woff2") format("woff2"), url("/fonts/Architype Stedelijk/Web Fonts/as-font.woff") format("woff"), url("/fonts/Architype Stedelijk/Web Fonts/as-font.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--color-text);
    background: var(--color-bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;

    background: var(--color-bg);
    color: var(--color-text);
}

a {
    font-weight: 500;
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

button {
    font-family: inherit;
}

button:hover {
    border-color: var(--color-border-hover);
}

button:focus,
button:focus-visible {
    outline: 4px auto var(--color-focus-outline);
}

h1,h2,h3,h4,h5,h6,.hero-title,.section-title { font-family: var(--font-display); }

@media (prefers-color-scheme: dark) {
    :root {
        color: var(--color-text-dark);
        background: var(--color-bg-dark);
    }
    body { background: var(--color-bg-dark); color: var(--color-text-dark); }
}
